<div class="alert alert-info mt-3">
  <h2 class="text-center">Christmas Treevia Instructions</h2>
  <ul>
    <li>Press the red button button located on the present near the tree. Be warned, it might take a bit of effort to press it!</li>
    <li>
      You will be asked 3 questions of increasing diffilculty, once the question is asked you will have 10 seconds to answer.
      <ul>
        <li>You can answer each question as many times as you wish within the 10 seconds</li>
        <li>Your answer will be submitted for verification when you finish speaking so make sure to pause between multiple answers!</li>
        <li>If you get the question right the tree will light up green!</li>
        <li>If 10 seconds have passed and no suitable answer has been given then the game will end.</li>
      </ul>
    </li>
    <li>Were the questions too hard? Too easy? Challenge others by submitting your own questions using our ornaments designated with a question mark! Write your question and answer on the back of the ornament and hang it on the tree!</li>
  </ul>
  <div class="row mb-3">
    <div class="col btn-group">
      <button
        class="btn btn-primary col-6"
        (click)="speech.startGame()"
        [disabled]="speech.listening">
          <img class="icon" src="/assets/images/mic-on.png">{{btnLabel}}
      </button>
      <button
        class="btn btn-danger col-6"
        (click)="speech.abort()"
        [disabled]="!speech.listening">
          <img class="icon" src="/assets/images/mic-off.png">Stop
      </button>
      <button
      class="btn btn-danger col-6"
      (click)="speech.abort()"
      [disabled]="!speech.listening">
        <img class="icon" src="/assets/images/mic-off.png">Reset
    </button>
    </div>
  </div>
  <div class="row" *ngIf="errorMsg">
    <div class="col">
      <p class="alert alert-warning">
        {{errorMsg}}
      </p>
    </div>
  </div>
</div>