<div class="alert alert-info mt-3">
  <h2 class="text-center">Christmas Treevia</h2>
  <p>Your browser <a class="alert-link" href="https://developer.mozilla.org/en-US/docs/Web/API/SpeechRecognition#Browser_compatibility">supports speech recognition</a>! To play a Christmas Treevia game using speech, follow these instructions:</p>
  <ol>
    <li>Click the <em>"Listen"</em> button below.</li>
    <li>If prompted, grant the app permission to use your device's microphone.</li>
    <li>
      Listen closely for a Christmas themed question to be asked, once the timer starts you will have 10 seconds to answer.
      <ul>
        <li>You can answer as many times as you wish within the 10 seconds</li>
        <li>If you get the question right you will be notified and the next question will be asked</li>
        <li>If 10 seconds has passed and no suitable answer has been given then the next question will be asked </li>
      </ul>
    </li>
    <li>It will take a moment for your speech to be processed. The answer you have given will be displayed on the screen so you know if you're being heard right.</li>
  </ol>
  <p>You may also <em>"Stop"</em> listening at any time. As well as reset the game.</p>
  <div class="row mb-3">
    <div class="col btn-group">
      <button
        class="btn btn-primary col-6"
        (click)="speech.startGame()"
        [disabled]="speech.listening">
          <img class="icon" src="/assets/images/mic-on.png">{{btnLabel}}
      </button>
      <button
        class="btn btn-danger col-6"
        (click)="speech.abort()"
        [disabled]="!speech.listening">
          <img class="icon" src="/assets/images/mic-off.png">Stop
      </button>
      <button
      class="btn btn-danger col-6"
      (click)="speech.abort()"
      [disabled]="!speech.listening">
        <img class="icon" src="/assets/images/mic-off.png">Reset
    </button>
    </div>
  </div>
  <div class="row" *ngIf="errorMsg">
    <div class="col">
      <p class="alert alert-warning">
        {{errorMsg}}
      </p>
    </div>
  </div>
</div>