<app-listen *ngIf="speech.speechSupported"></app-listen>
<h1 *ngIf="!speech.speechSupported">Speech recognition is not supported on your device or browser</h1>
<ul>
	<li *ngFor="let phrase of recievedAnswers">{{ phrase }}</li>
</ul>
<app-timer></app-timer>
<div id="canvas"></div>
<router-outlet></router-outlet>


<div *ngIf="questions" class="questions">
	<div *ngFor="let question of questions">
		<app-question [question]="question.questionString" [correctAnswer]="question.answerString"></app-question>
	</div>
</div>
